@page
@{
}

<div class="text-center">
  <form action="">
    <div class="mb-3 row"><label for="marca" class="form-label">Marca</label>
      <div class="col-sm-10"><input type="text" class="form-control" id="marca" name="marca"
          placeholder="Ingrese la marca">
      </div>
    </div>
    <div class="mb-3 row"><label for="modelo" class="form-label">Modelo</label>
      <div class="col-sm-10"><input type="text" class="form-control" id="modelo" name="modelo"
          placeholder="Ingrese el modelo">
      </div>
    </div>
    <div class="mb-3 row"><label for="kilometraje" class="form-label">Kilometraje</label>
      <div class="col-sm-10"><input type="number" class="form-control" id="kilometraje" name="kilometraje"
          placeholder="Ingrese el kilometraje">
      </div>
    </div>
    <div class="mb-3 row"><label for="numero_asientos" class="form-label">Número de Asientos</label>
      <div class="col-sm-10"><input type="number" class="form-control" id="numero_asientos" name="numero_asientos"
          placeholder="Ingrese el número de Asientos">
      </div>
    </div>
    <div class="mb-3 row"><label for="placa" class="form-label">Placa</label>
      <div class="col-sm-10"><input type="text" class="form-control" id="placa" name="placa"
          placeholder="Ingrese la placa">
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
