@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusModel
@{
}

<div class="text-center">
  <h1 style="background: linear-gradient(#000046, #2f4f4f); color: #dcdcdc">Registro de Buses</h1>
  <form method="post" style="background:#d3d3d3" class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-6 col-md-auto col-lg-4">
        
        <label for="marca" style="font-size:1.4rem">Marca</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="marca" name="marca" placeholder="Ingrese la marca" required>

        <label for="modelo" style="font-size:1.4rem">Modelo</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="modelo" name="modelo" placeholder="Ingrese el modelo" required>

        <label for="kilometraje" style="font-size:1.4rem">Kilometraje</label>
        <input type="number" class="form-control" style="background: #ffe4b5;border:2px solid black" id="kilometraje" name="kilometraje" placeholder="Ingrese el kilometraje" required>
      
       <label for="numero_asientos" style="font-size:1.4rem">Número de Asientos</label>
        <input type="number" class="form-control" style="background: #ffe4b5;border:2px solid black" id="numero_asientos" name="numero_asientos" placeholder="Ingrese el número de Asientos" required>
    
        <label for="placa" style="font-size:1.4rem">Placa</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="placa" name="placa" placeholder="Ingrese la placa" required maxlength="6" minlength="6">
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
