@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusModel
@{
}

<div class="text-center">
  <h1 style="background: linear-gradient(#000046, #2f4f4f); color: #dcdcdc">Registro de Buses</h1>
  <form method="post" style="background:#d3d3d3" class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-6 col-md-auto col-lg-4">
        
        <label for="marca" style="font-size:1.4rem">Marca</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="marca" asp-for="Bus.marca" placeholder="Ingrese la marca">
        <span class="text-danger" asp-validation-for="Bus.marca"></span>
        <hr>
        <label for="modelo" style="font-size:1.4rem">Modelo</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="modelo" asp-for="Bus.modelo" placeholder="Ingrese el modelo" >
        <span class="text-danger" asp-validation-for="Bus.modelo"></span>
        <hr>
        <label for="kilometraje" style="font-size:1.4rem">Kilometraje</label>
        <input type="number" class="form-control" style="background: #ffe4b5;border:2px solid black" id="kilometraje" asp-for="Bus.kilometraje" placeholder="Ingrese el kilometraje" >
        <span class="text-danger" asp-validation-for="Bus.kilometraje"></span>
        <hr>
        <label for="numero_asientos" style="font-size:1.4rem">Número de Asientos</label>
        <input type="number" class="form-control" style="background: #ffe4b5;border:2px solid black" id="numero_asientos" asp-for="Bus.numero_asientos" placeholder="Ingrese el número de Asientos">
        <span class="text-danger" asp-validation-for="Bus.numero_asientos"></span>
        <hr>
        <label for="placa" style="font-size:1.4rem">Placa</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="placa" asp-for="Bus.placa" placeholder="Ingrese la placa" maxlength="6" minlength="6">
        <span class="text-danger" asp-validation-for="Bus.placa"></span>
        <hr>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
