@page
@{
}

<div class="text-center">
  <form action="">
    <div class="row justify-content-md-center">
      <div class="col-6 col-md-auto col-lg-4">

        <h3>Buses</h3>
        
        <label for="marca" class="form-label">Marca</label>
        <input type="text" class="form-control" id="marca" name="marca" placeholder="Ingrese la marca">

        <label for="modelo" class="form-label">Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Ingrese el modelo">

        <label for="kilometraje" class="form-label">Kilometraje</label>
        <input type="number" class="form-control" id="kilometraje" name="kilometraje" placeholder="Ingrese el kilometraje">
      
       <label for="numero_asientos" class="form-label">Número de Asientos</label>
        <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" placeholder="Ingrese el número de Asientos">
    
        <label for="placa" class="form-label">Placa</label>
        <input type="text" class="form-control" id="placa" name="placa" placeholder="Ingrese la placa">
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
