@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Número de Asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hyundai</td>
      <td>2019</td>
      <td>56000</td>
      <td>5</td>
      <td>POI98</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mazda</td>
      <td>2020</td>
      <td>6000</td>
      <td>5</td>
      <td>TYU98</td>
    </tr>
    <tr>
     <th scope="row">1</th>
      <td>BMW</td>
      <td>2019</td>
      <td>8500</td>
      <td>5</td>
      <td>PYT69</td>
    </tr>
  </tbody>
</table>