@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutaModel
@{
}

<div class="text-center">
  <h1 style="background: linear-gradient(#000046, #2f4f4f); color: #dcdcdc">Registro de Rutas</h1>
  <form method="post" style="background:#d3d3d3" class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-6 col-md-auto col-lg-4">
        <label for="origen" style="font-size:1.4rem">Origen</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="origen" asp-for="Ruta.origen" placeholder="Ingrese el Origen" required>
        <span class="text-danger" asp-validation-for="Ruta.origen"></span>
        <hr>
        <label for="destino" style="font-size:1.4rem">Destino</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="destino" asp-for="Ruta.destino" placeholder="Ingrese el Destino" required>
        <span class="text-danger" asp-validation-for="Ruta.destino"></span>
        <hr>
        <label for="tiempo_estimado" style="font-size:1.4rem">Tiempo Estimado</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="tiempo_estimado" asp-for="Ruta.tiempo_estimado" placeholder="Ingrese el tiempo estimado en minutos" required>
        <span class="text-danger" asp-validation-for="Ruta.tiempo_estimado"></span>
        <hr>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
