@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsRutaModel
@{
    var ruta = Model.Ruta;
}
 
<ul class="list-group list-group-flush">
  <h1 style="background: linear-gradient(#000046, #2f4f4f); color: #dcdcdc">Detalles</h1>
  <li class="list-group-item" style="background:#d3d3d3"> <b>Id: </b> @ruta.id</li>
  <li class="list-group-item" style="background:#d3d3d3"> <b>Origen: </b> @ruta.origen</li>
  <li class="list-group-item" style="background:#d3d3d3"> <b>Destino: </b> @ruta.destino</li>
  <li class="list-group-item" style="background:#d3d3d3"><b>Tiempo Estimado: </b> @ruta.tiempo_estimado</li>
</ul>	