@page
@model ProyectoCiclo3.App.Frontend.Pages.EditRutaModel
@{
    var ruta = Model.Ruta;
}
 
<div class="text-center">
  <h1 style="background: linear-gradient(#000046, #2f4f4f); color: #dcdcdc">Edicion de Rutas</h1>
  <form method="post" style="background:#d3d3d3" class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-6 col-md-auto col-lg-4">
        <label for="id" class="form-label d-none" style="font-size:1.4rem">Id</label>
        <input type="text" class="form-label d-none" style="background: #ffe4b5;border:2px solid black" id="id" name="id" placeholder="Ingrese el Id" asp-for="@ruta.id">
        <label for="origen" class="form-label" style="font-size:1.4rem">Origen</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="origen" name="origen" placeholder="Ingrese el Origen" asp-for="@ruta.origen">
        <label for="destino" class="form-label" style="font-size:1.4rem">Destino</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="destino" name="destino" placeholder="Ingrese el Destino" asp-for="@ruta.destino">
        <label for="tiempo_estimado" class="form-label" style="font-size:1.4rem">Tiempo Estimado</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="tiempo_estimado" name="tiempo_estimado" placeholder="Ingrese el tiempo estimado" asp-for="@ruta.tiempo_estimado">
  
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>

