@page
@{
}
 
<div class="text-center">
  <form action="">
    <div class="row justify-content-md-center">
      <div class="col-6 col-md-auto col-lg-4">
        <label for="nombre" class="form-label">Ingrese el nombre de la estacion:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de la estacion">

        <label for="tipo" class="form-label">Ingrese el tipo de estacion:</label>
        <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo de estacion">
      </div>  
      <p>
        <label for="direccion" class="form-label">Ingrese la direccion de la estacion:</label>
        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion de la estacion">
        
          <label for="coord_x" class="form-label">Ingrese la coordenada x:
            <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="Coordenada x">
          </label>
          
          <label for="coord_y" class="form-label">Ingrese la coordenada y:
            <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="Coordenada y">
          </label>
      </p>    
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
