@page
@{
}
 
<div class="text-center">
  <form action="">
    <div class="row justify-content-md-center">
      <div class="col-6 col-md-auto col-lg-4">

        <h3>Estaciones</h3>
        
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre de la estación">

        <label for="tipo" class="form-label">Tipo</label>
        <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Ingrese el tipo de estación">
        
        <label for="direccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese la direccion de la estación">
         <label for="coord_x" class="form-label">Coordenada X</label>
        <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="Ingrese la coordenada X">
          
        <label for="coord_y" class="form-label">Coordenada Y</label>
        <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="Ingrese la Coordenada Y">
      
      </div>  
       
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
