@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionesModel
@{
}
 
<div class="text-center">
  <h1 style="background: linear-gradient(#000046, #2f4f4f); color: #dcdcdc">Registro de Estaciones</h1>
  <form method="post" style="background:#d3d3d3" class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-6" >
        <label for="nombre" style="font-size:1.5rem">Nombre de la estacion:</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="nombre" name="nombre" placeholder="Ingrese nombre de la estacion" required>
        <hr>
        <label for="tipo" style="font-size:1.5rem">Tipo de estacion:</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="tipo" name="tipo" placeholder="Ingrese el tipo de estacion" required>
      </div>
      <div class="col-6">
        <label for="direccion" style="font-size:1.5rem">Direccion de la estacion:</label>
        <input type="text" class="form-control" style="background: #ffe4b5;border:2px solid black" id="direccion" name="direccion" placeholder="Ingrese la direccion de la estacion"required>
        <hr>
        <div class="row justify-content-md-center">
          <div class="col-6">
            <label for="coord_x" style="font-size:1.2rem">Coordenada x:</label>
            <input type="double" class="form-control" style="background: #ffe4b5;border:2px solid black" id="coord_x" name="coord_x" placeholder="Ingrese la coordenada x" required>
          </div>
          <div class="col-6">
            <label for="coord_y" style="font-size:1.2rem">Coordenada y:</label>
            <input type="double" class="form-control" style="background: #ffe4b5;border:2px solid black" id="coord_y" name="coord_y" placeholder="Ingrese la coordenada y" required>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
